<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>$player_name - calsquash-rankings</title>
        <link rel="stylesheet" href="https://ankurdave.com/calsquash-rankings-style.css">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
         google.charts.load('current', {'packages':['corechart']});
         google.charts.setOnLoadCallback(drawChart);
         window.addEventListener('resize', drawChart);
         function drawChart() {
             var data = new google.visualization.DataTable();
             data.addColumn('date', 'Date');
             data.addColumn('number', 'Rating');
             data.addColumn({ type: 'number', role: 'interval' });
             data.addColumn({ type: 'number', role: 'interval' });
             data.addRows([$rating_data]);

             var options = {'chartArea': { 'top': 10, 'right': 20, 'bottom': 40, 'left': 40},
                            'intervals': { 'style': 'area' },
                            'legend': 'none',
                            'vAxis': { 'viewWindow': { 'max': 50 }}};

             var chart = new google.visualization.LineChart(
                 document.getElementById('rating_history'));
             chart.draw(data, options);
         }
        </script>
    </head>
    <body>
        <div id="container">
            <p class="breadcrumb"><a href="https://github.com/ankurdave/calsquash-rankings" class="project">calsquash-rankings</a> / statistics for <span class="file">$player_name</span></p>

            <h2>Rating History</h2>
            <div style="width:100%;padding-bottom:55%;position:relative">
                <div id="rating_history"
                     style="position:absolute;top:0;bottom:0;left:0;right:0;"></div>
            </div>

            <h2>Match History</h2>
            <p>$num_matches matches</p>
            $match_history_table
        </div>
    </body>
</html>
