<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>$filename - calsquash-rankings</title>
        <link rel="stylesheet" href="https://ankurdave.com/calsquash-rankings-style.css">
    </head>
    <body>
        <div id="container">
            <p class="breadcrumb"><a href="https://github.com/ankurdave/calsquash-rankings" class="project">calsquash-rankings</a> / <span class="file">$filename</span></p>
            <p>$description</p>
            <p>Generated $now.</p>

            $html_table
        </div>
</body>
</html>
