*.pyc
.env
terraform.tfvars
.terraform
.terraform.*
terraform.tfstate
terraform.tfstate.*
lambda_functions.zip

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log
