/* Box model */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Page layout */
body {
    margin: 0;
}

#container {
    margin: 0 auto;
    max-width: 864px;
    text-align: left;
    padding: 16px 0;
}

#container > :not(.full-width) {
    /* Everything but full-width elements should have a margin */
    margin-left: 16px;
    margin-right: 16px;
}

#container > .full-width {
    /* On small screens, full-width elements should have no margin and be centered */
    margin: 0 auto;
}

@media all and (min-width: 600px) {
    /* On large screens, everything can have a large margin, including full-width
       elements. Full-width elements should also not be centered */
    #container > :not(.full-width), #container > .full-width {
        margin-left: 32px;
        margin-right: 32px;
    }
}

/* Text */
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.3em;
    color: #24292e;
    background-color: #fff;
}

p { margin: 0 0 1em 0; }

/* Links */
a {
    text-decoration: none;
    color: #0366d6;
}
a:hover { text-decoration: underline; }

/* Headings */
h2 {
    margin: 1em 0 0.5em 0;
    font-weight: 600;
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef;
}

/* Header */
.breadcrumb {
    margin: 0 0 1.5em 0;
    color: #586069;
}
.project, .file { font-weight: 600; }
.file { color: #24292e; }

/* Tables */
table {
    border-spacing: 0;
    border-collapse: collapse;
}
tr { border-top: 1px solid #c6cbd1; }
th, td {
    padding: 5px;
    border: 1px solid #dfe2e5;
}
@media all and (min-width: 600px) {
    th, td { padding: 6px 13px; }
}
th { font-weight: 600; }
tr:nth-child(2n) { background-color: #f6f8fa; }

th.numeric-heading { text-align: right; }
td.numeric {
    text-align: right;
    font-variant-numeric: lining-nums tabular-nums;
}

th abbr { cursor: inherit; }
th abbr[title] {
    border-bottom: none;
    text-decoration: none;
}
@media all and (min-width: 600px) {
    th abbr span { display: none; }
    th abbr:before { content: attr(title); }
}
