<html>
    <head>
        <link rel="stylesheet" href="https://ankurdave.com/calsquash-rankings-style.css">
    </head>
    <body>
        <div id="container">
            <p class="breadcrumb"><a href="https://github.com/ankurdave/calsquash-rankings" class="project">calsquash-rankings</a> / <span class="file">$filename</span></p>
            <p>Generated $now.</p>

            $html_table
        </div>
</body>
</html>
